<!DOCTYPE html>
<html lang="en"
<head>
   <title>Calculator</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizzing: border-box;
    }
    body {
        background-color: black;
    }
    #calc {
        width: 110%;
        height: 110vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #content {
        background: rgb(71, 1, 1);
        padding: 30px;
        border-radius: 15 ;
    }
    #content form input {
        border: 0;
        outline: 0;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        font-size:  15px;
        margin: 10px;
        cursor: pointer;
    }
    #backspace {
        background-colour: rgb(244, 238, 238);
        colour: white;
    }
    #res  {
       padding: 10px;

    }
    #clear  {
        background-color: rgb(227, 235, 235);
        color: whitesmoke;
    }
    form #output {
        display: flex;
        justify-content: flex-end;
        margin: 15px;
    }
    form #output input {
        text-align: right;
        flex: 1;
        font-size: 26px;
    }
